<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - RetailPro</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true">
</head>

<body class="bg-gray-100 font-sans">

    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>